@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@700&display=swap');
body::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #93C5FD, #60A5FA, #3B82F6);
}

body::-webkit-scrollbar-track {
    background-color: white;
}
body::-webkit-scrollbar {
    background: linear-gradient(to bottom, #93C5FD, #60A5FA, #3B82F6);
}
body {
    font-family: 'Sora Custom',Arial,sans-serif;
}
button {
    padding: 0;
}
div[id] {
    scroll-margin-top: 68px;
}

.container {
    width: 100%;
    min-height: 100vh;
    font-family: 'Sora',Arial,sans-serif;
    box-sizing: border-box;
    background: var(--bg-ligth-mode);
    line-height: 1.75rem;
    position: relative;
    transition: all .5s ;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Sora',Arial,sans-serif;
    scroll-behavior: smooth;
    transition: all .5s ;
}
:root {
    --ligth-mode : white;
    --dark-mode : #212121;
    --bg-ligth-mode : #ffffffda;
    --bg-dark-mode : #212121da;
    --portada-ligth : url('https://uploads-ssl.webflow.com/5d362331b9f50fdd0566cb47/6103f279ce95235370867751_bg-pattern.svg');
    --portada-dark : url(../assets/bg-portada-dark.png);
    --label-ligth : #0000007c;
    --label-dark : rgba(128, 128, 128, 0.5);
}

