#footer {
    width: 100%;
    background-color: white;
    padding: 64px 24px;
    display: flex;
    gap: 16px 64px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
#footer div:nth-child(n){
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-footer {
    height: 65px;
    width: 200px;
    border: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    background-color: #fff;
  }
  
  .btn-footer span {
    z-index: 1;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    width: 200px;
    border-radius: 40px;
    -webkit-transition: all 0.5s;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 3px;
    transition: all 0.5s;
  }
  
  .btn-footer .container-btn {
    z-index: -1;
    width: 0px;
    scale: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    transition: all 0.4s;
  }
  
  .btn-footer .container-btn svg {
    padding: 0 10px;
  }
  .container-btn a{
    transition: all .5s ease;
    height: 80px;
    display: grid;
    place-content: center;
  }
  
  .btn-footer:hover span {
    width: 0;
  }
  .btn-footer .container-btn a:hover {
    transform: translateY(-6px);
  }
  
  .btn-footer:hover .container-btn {
    z-index: 2;
    scale: 1;
    width: 100%;
  }

  .footer-design h1{
    font-size: 20px;
    font-weight: 600;
  }

  .footer-bg {
    gap: 8px;
  }
  .footer-bg h1{
    color:#039be5;
    font-size: 48px; 
    font-weight: bolder;
  }
  .footer-bg h2{
    color:#000000;
    font-size: 48px; 
    font-weight: bolder;
  }

  @media screen and (max-width: 1050px) {
    .footer-bg h1{
        font-size: 36px; 

      }
    .footer-bg h2 {
      font-size: 36px;
    }
  }
  
