#footer {
    width: 100%;
    padding: 56px 24px;
    display: flex;
    gap: 16px 64px;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, var((--ligth-mode)), #e0efff);
}
.contain-footer {
  width: 100%;
  max-width: 1112px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  position: relative;
}
.links-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.contain-footer .links-footer a {
  text-decoration: none;
  width: 39px;
  height: 39px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s ease;
  background-color: white;
  border-radius: 120px;
}
.links-footer svg {
  width: 39px;
  height: 39px;
}
.links-footer a:hover {
  transform: translateY(-6px);
}
.links-footer a:active {
  transform: scale(0.8);
}
  .footer-design h1{
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: #93C5FD;
  }
.links-footer a:first-child {
  background-image:linear-gradient(to right, #93C5FD, #60A5FA, #3B82F6);
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.links-footer a:nth-child(3) {
  background-color: #3B82F6;
  padding: 8px;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
  @media screen and (max-width: 1050px) {
    .contain-footer {
      flex-direction: column;

    }
  }
  
