/* °°°°°°°°°°°°°°°°°°°°°°°° // SECCION DE PORTADA // °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */

.portada {
  background-color: #fff;
  background-image: url(https://uploads-ssl.webflow.com/5d362331b9f50fdd0566cb47/6103f279ce95235370867751_bg-pattern.svg);
  background-position: 50% 0px;
  padding: 0px 24px;
  padding-top: 130px;
  background-attachment: scroll;
  background-repeat: repeat-x;
  margin-top: 68px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
}
.contain-portada {
  width: 100%;
  max-width: 1112px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.presentacion {
    box-sizing: border-box;
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 32px 0px;
    position: relative;
    z-index: 2;
    
}
.presentacion h1 {
  font-size: 3.338rem;
    font-weight: bold;
    line-height: 1.2;
    background-image:linear-gradient(to right, #93C5FD, #60A5FA, #3B82F6);
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    opacity: 1;
    transform-style: preserve-3d;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.presentacion p {
  font-size: 1.368rem;
  line-height: 2.25rem;
    font-weight:400;
}
.presentacion .redes {
    display: flex;
    gap: 32px;
}

.foto{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
}
.foto img {
    width: 100%;
}


.social-links,.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    list-style: none;
  }
  
  .social-btn {
    cursor: pointer;
    height: 75px;
    width: 75px;
    font-family: 'Titillium Web', sans-serif;
    color: #333;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    background: white;
    margin: 5px;
    transition: 0.3s;
    justify-content: center;
  }
  
  .social-btn svg {
    height: 38px;
    width: 38px;
  }
  
  .social-btn span {
    width: 0px;
    overflow: hidden;
    transition: 0.3s;
    font-size: 1.4rem;
    text-align: center;
    margin-left: 5px;
  }
  
  .social-btn:hover {
    width: 200px;
    border-radius: 5px;
  }
  
  .social-btn:hover span {
    padding: 2px;
    width: 115px;
  }
  
  #twitter svg {
    fill: #1da1f2;
  }
  
  #linkedin svg {
    fill: #0e76a8;
  }
  
  #github {
    fill: #333;
  }

  
@media screen and (max-width: 930px) { 
  .portada {
    padding-top: 70px;
  }
    .contain-portada {
        flex-direction: column;
        gap: 64px;
    }
    .presentacion {
        width: 100%;
    }
    .presentacion p {
      font-size: 1.2rem;
      line-height: 2rem;
    }
    .presentacion h1 {
      font-size: 3rem;
      line-height: 1;
    }
    .foto {
      width: 50%;
    }
}
