/* °°°°°°°°°°°°°°°°°°°°°°°° // SECCION DE PORTADA // °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° */

.portada {
  background-image: var(--portada-ligth);
  background-position: 50% 0px;
  padding: 0px 24px;
  padding-top: 130px;
  background-attachment: scroll;
  background-repeat: repeat-x;
  margin-top: 68px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
}
.contain-portada {
  width: 100%;
  max-width: 1112px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.presentacion {
    box-sizing: border-box;
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 32px 0px;
    position: relative;
    z-index: 2;
    
}
.presentacion h1 {
  font-size: 3.338rem;
    font-weight: bold;
    line-height: 1.2;
    background-image:linear-gradient(to right, #93C5FD, #60A5FA, #3B82F6);
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    opacity: 1;
    transform-style: preserve-3d;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.presentacion p {
  font-size: 1.368rem;
  line-height: 2.25rem;
  color: var(--dark-mode);
    font-weight:400;
}
.presentacion .redes {
    display: flex;
    gap: 32px;
}

.foto{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
}
.foto img {
    width: 100%;
}

.follow {
  font-size: 1.368rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s;
}
.follow span{
  background: linear-gradient(90deg,#c2fbe6,#4eedb1);
  width: 100%;
  border-radius: 16px;
  height: 100%;
  display: grid;
  place-content: center;
  overflow: hidden;
  text-align: center;
  position: absolute;
  transition: all .5s;
}
.follow:hover span {
  width: 0;
}
.social-links,.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    list-style: none;
    gap: 12px;
    transition: all .5s;
  }
.social-links svg {
  width: 39px;
  height: 39px;
}
.social-links {
  transform: scale(0);
  padding: 4px 0;
}  
.follow:hover .social-links{
  transform: scale(1);
}
.social-links a:hover {
  transform: translateY(-12px);
}
.social-links a:focus {
  transform: scale(0.9);
}

  
  #twitter svg {
    fill: #1da1f2;
  }
  
  #linkedin svg {
    fill: #0e76a8;
  }
  
  #github {
    fill: black;
  }

  
@media screen and (max-width: 930px) { 
  .portada {
    padding-top: 70px;
  }
    .contain-portada {
        flex-direction: column;
        gap: 64px;
    }
    .presentacion {
        width: 100%;
    }
    .presentacion p {
      font-size: 1.2rem;
      line-height: 2rem;
    }
    .presentacion h1 {
      font-size: 3rem;
      line-height: 1;
    }
    .foto {
      width: 50%;
    }
}
